body{
    background-color: grey;
}

#quadro{
    background-color:#0c5a09;
    margin: auto;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
}

h1{
    text-align: center;
}